

#container{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin: auto;
   border: 1px solid gainsboro;
   padding: 20px;

}

#container > div{
   border: 1px solid gainsboro;
   text-align: center;
   padding: 20px;
}
a{
   text-decoration: aqua;
}

#add{
   display: flex;
   gap: 20px;
   border: 1px solid black;
   padding: 20px;
}
button{
   padding: 5px;
   margin-right: 10px;
}


#edit{
   display: none;
   border: 1px solid black;
   width: 20%;
   padding: 5%;
   position: fixed;
   left: 35%;
   top: 20%;
 
   backdrop-filter: blur(10px);
   border-radius: 15px;
   z-index: 5;
}
